/*
** Inicial
*/
.btn {
	box-shadow: inset 0 65px 0 transparent;
	transition: color 0.2s ease, border 0.2s ease, background 0.25s ease, box-shadow 0.2s ease, transform 0.25s ease;		
	vertical-align: middle;
	display: inline-block;
	min-width: 144px;
	max-width: 100%;
	padding: 21px 25px 19px;
	font-family: 'Montserrat', Arial,'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.20em;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
}
.btn:hover{opacity: 0.9;}
.btn:active {
	transform: translateY(2px);
}
/*
** Distintos tamaños
*/
.btn--sm {padding: 13px 17px 12px;height: 40px;}
/*
** Separacion
*/
.btn--margin {margin: 0 7px;}
/*
** Solo lineas
*/
.btn--outline:hover{opacity: 1;}
/*
** Distintos tipos
*/
.btn--blanco {
	background: #fff;
	color: rgba(111, 111, 111, 0.50);
}
.btn--blanco.btn--outline {color: #fff;background:transparent;border: 1px solid #fff;}
.btn--blanco.btn--outline:hover{color: rgba(111, 111, 111, 0.50);background:#fff;}

.btn--rojo {
	background: #8c191e;
	color: #fff;
}
.btn--rojo.btn--outline {color: #8c191e;background:transparent;border: 1px solid #8c191e;}
.btn--rojo.btn--outline:hover{color: #fff;background:#8c191e;}

.btn--amarillo {
	background: #D68831;
	color: #fff;
}
.btn--amarillo.btn--outline {color: #D68831;background:transparent;border: 1px solid #D68831;}
.btn--amarillo.btn--outline:hover{color: #fff;background:#D68831;}
