/*
	** Message Box
	*/
	.message__box {
		position: fixed;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		width: 350px;
		z-index: 25;
		padding: 0 25px;
		flex-direction: column;
	}
	.message {
		width: 100%;
		background: #3e88bc;
		display: flex;
		margin-bottom: 0px;
		justify-content: center;
		align-items: center;
		opacity: 0;
		height: 0;
		overflow: hidden;
		transition: margin 0.3s ease, opacity 0.3s ease;
	}
	.message--active {
		opacity: 1;
		margin-bottom: 15px;
		padding: 25px 10px;
		height: auto;
	}
	.message--sussess {
		background: #28a745;
	}
	.message--warning {
		background: #06007e;
	}
	.message--hidden {
		opacity: 0;
	}
	.message__text {
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 20px;
		font-size: 12px;
	}
	/*
	** Message Box
	*/