.modal-btn {
  text-align: center;
  padding: .6em .8em .8em;
  border: none;
  color: white;
  background: lightgray;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0,0,0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}
.modal-btn.primary {
  background: #7dc800;
}
.modal-btn.warning {
  background: #ff463b;
}

.modal-btn:active {
  transform: scale(.9);
}
.modal-buttons {
  position: absolute;
  right: -17.5px;
  top: -17.5px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modal-buttons:hover { 
  background: #1216ff;
}
.modal-buttons i {
  transition: all 0.3s ease;
  transform: rotate(-45deg);
  color: #8C191D;
}
.modal-buttons:hover i {
  color: #fff;
}
.overlay {
  background: rgba(32,32,32,.95);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /*transition: 300s ease-in;*/
  opacity: 1;
  /*visibility: hidden;*/
  display: none;
  z-index: 100;
  transition: all 0.8s ease;
}
.overlay.active {
  /*opacity: 1;*/
  /*visibility: visible;*/
  display: flex;
}
.overlay.fadeIn--overlay {
  opacity: 0;
}
.modal {
  width: 500px;
  background: #8C191D;
  padding: 2em;
  border-radius: 0;
  text-align: center;
  z-index: 9999;
  transform: translateY(-3000px);
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../temp/bannersign2.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,.3);
}

.modal-content {
  display: flex;
}

.modal-content img {
  width: 170px;
  height: 256px;
  object-fit: cover;
  margin-right: 15px;
}
.modal-content p {
  align-self: center;
}
/*@keyframes animationIn {*/
@keyframes modalIn {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-10px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes animationOut {*/
@keyframes modalOut {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}


.modal--hidden {
  display: none;
}
.modal--visible {
  display: block;
}

@media screen and (orientation:landscape) {
    
}

@media screen and (max-width: 1199.98px) {
    
}

@media screen and (max-width: 991.98px) {
    
}

@media screen and (max-width: 767.98px) {
  .modal {
    width: 90%;
  } 
}

@media screen and (max-width: 575.98px) {

}