/* Estilo para el formulario de registro */
#registration-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; /* Color de fondo del formulario */
    color: rgb(55, 255, 0); /* Color del texto en rojo */
}

#registration-form label {
    display: block;
    margin-bottom: 5px;
}

#registration-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff00ff; /* Color de fondo del botón "Registrar Usuario" */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#registration-form button:hover {
    background-color: #ff00ff;
}

/* Estilo para el botón "Mostrar Usuarios Registrados" */
h2 {
    margin-top: 20px;
}

button[type="button"] {
    padding: 10px;
    background-color: #ff00ff; /* Color de fondo del botón "Mostrar Usuarios Registrados" */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #ff00ff;
}

/* Estilo para la lista de usuarios registrados */
#user-list {
    list-style-type: none;
    padding: 0;
}

#user-list li {
    margin-bottom: 10px;
}

/* Color de fondo general */
body {
    background-color: rgb(12, 0, 53); /* Color de fondo general de la página */
    color: #fff; /* Color de texto general de la página */
}
